body{
    background-color:rgba(11, 70, 11, 0.523);
    font-size: 20px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
table{
    border-radius: 5px;
    margin: 150px 150px;

}

h2{
    text-decoration: underline;
    position: relative;
    top: 100px;

}

td{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgb(22, 94, 107);
    
}
